.divGeneral {
    display: flex;
  }
  
  .divDetail {
    background-color: #c3c3ff;
    border: 5px solid #280783;
    margin-top: 155px;
    border-radius: 5%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 40%;
  }
  
  .title {
    font-family: serif;
    font-weight: bold;
    font-size: 23px;
    padding-top: 10px;
    color: blue;
  }
  
  .text {
    color: red;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    line-height: 20px;
    font-weight: 400;
  }
  
  .divRedes {
    display: flex;
    justify-content: space-around;
  }
  
  a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: flex;
  }
    
  .imagenL {
    display: flex;
    width: 52px;
    height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .imagenG {
    display: flex;
    width: 52px;
    height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
    
  .textRedes {
    font-size: 25px;
    padding-left: 10px;
    color: orange;
    font-weight: bold;
  }
  
  
  
  
  @media screen and (max-width: 700px) {
  
    .divDetail {
      border: 3px solid blue;
      margin-top: 100px;
      width: 80%;
    }
  
    .title {
      font-size: 17px;
      color: #074f83;
    }
    
    .text {
      font-size: 14px;
    }
  
    .imagenL {
      width: 35px;
      height: 35px;
    }
    
    .imagenG {
      width: 35px;
      height: 35px;
    }
      
    .textRedes {
      font-size: 19px;
      padding-left: 10px;
    }
  
  }
  