.div {
    background-color: #0a4e76;
    border: 2px solid #00ff4c;
    border-radius: 5%;
    width: 260px;
    height: 315px;
}

.div:hover {
    -webkit-transform: scale(105%);
            transform: scale(105%);
    z-index: 1;
    background-color: #00ff8c;
    -webkit-box-shadow: 0px 1px 10px 1px #f2ff00;
            box-shadow: 0px 1px 10px 1px #ae00ff;
}

.title {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.imgs {
    max-width: 100%;
    border: 1px solid #003cff;
}

.afterImg {
    display: flex;
    justify-content: space-between;
}

.text {
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    color: white;
    padding-left: 13px;
    justify-content: start;
}

.rating {
    margin-right: 13px;
    padding: 1.5px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
    border-radius: 10%;
    border: 1px solid #ff0022;
    height: 25px;
}

.btnDelete {
    background-color: #ffaa00;
    border-color: #0a766f;
    width: 20%;
    height: 28px;
    color: #760a1c;
    font-weight: bold;
    cursor: pointer;
}







@media screen and (max-width: 700px) {
    
    .div {
        margin-left: auto;
        margin-right: auto;
    }

}