.titles {
    font-family: 'myFont2';
    font-size: 25px;
    font-weight: bold;
    color: azure;
    margin-top: 50px;
    margin-bottom: 15px;
}

.divSource {
    justify-content: space-around;
}

.source {
    background-color: #dedef5;
    color: black;
    border-color: rgb(146, 74, 212);
    font-family: serif;
    margin-right: 5px;
    cursor: pointer;
}

.select {
    width: 180px;
    background-color: #dedef5;
    border-color: rgb(146, 74, 212);
    border-width: 2px;
}






@media screen and (max-width: 700px) {
    
    .divSourceGenres {
        display: flex;
        margin-right: 18px;
    }

    .divSource {
        margin-right: 10px;
        margin-left: 5px;
    }

    .titles {
        font-size: 18px;
        font-weight: normal;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .source {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .select {
        width: 75px;
        font-size: 11px;
        border-width: 2px;
    }

}